:root{
    --primary-color: rgba(241, 126, 1, 0.87);
    --secondary-color: #313131;
    --background-dark-color: #e1e0e0;
    --background-light-color: #f4f4f4;
    --background-light-color-2: rgba(3,127,255,255);
    --white-color: #ffffff;
}
body{
    background-color: #e1e0e0;
    font-family: 'Alegreya Sans', sans-serif;
    scroll-behavior: smooth;
}

.motoreninstandsetzung{
    background-color: #222;
}

html {
    position: relative;
    min-height:900px;
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5%;
    height: 100px;
    background: #2c2c2c;
    transition: background-color 0.3s ease-in-out;
}

#logo {
    width: 25vw; /* Set the logo width relative to the viewport width */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 12px;
}



/* Media query for screens with a maximum width of 480px */
@media screen and (max-width: 480px) {
    #logo {
        width: 70%; /* Adjust the logo width as needed */
    }
}

nav.transparent {
    background-color: rgba(49, 49, 49, 0.9);
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links .navLink {
    list-style: none;
}

nav .links .navLink a {
    display: flex;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

@keyframes underline {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

nav ul .navLink {
    position: relative;
}

nav ul .navLink::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.5s ease-in-out;
}

nav ul .navLink:hover::after {
    animation: underline 0.5s forwards;
}

nav ul .navLink:not(:hover)::after {
    animation: underline-reverse 0.5s forwards;
}

@keyframes underline-reverse {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 900px) {
    #logo {
        width: 65vw;
        margin-top: 1.4vw;
        margin-bottom: auto;
        border-radius: 7px;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }
    nav .links a {
        font-size: 20px;
    }
    nav :checked ~ .links {
        bottom: 0;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }
    #content {
        margin-top: 6vw;
        margin-left: 1vw;
        margin-right: 1vw;
        margin-bottom: 1vw;
    }
}


.carousel {
    width: 60%;
    height: auto;
    overflow: hidden;
    display: block;
    margin-bottom: 4rem;
    margin-top: 2rem;
    margin-left: 0;
    border-radius: 20px;
}

.carousel-container {
    display: flex;
    width: 100%; /* Add this line */
    animation: carousel-animation 20s infinite;
}

.carousel img {
    width: 100%; /* Change to 100% */
    height: auto; /* Remove the height property */
    object-fit: cover;
    border-radius: 20px;
}

@keyframes carousel-animation {
    0% {
        transform: translateX(0);
    }
    14.28% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-100%);
    }
    34.28% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(-200%);
    }
    54.28% {
        transform: translateX(-200%);
    }
    60% {
        transform: translateX(-300%);
    }
    74.28% {
        transform: translateX(-300%);
    }
    80% {
        transform: translateX(-400%);
    }
    94.28% {
        transform: translateX(-400%);
    }
    100% {
        transform: translateX(0);
    }
}

/*Content index*/
#content{
    width: 70%;
    padding-left: 3rem;
    height: auto;
}

#content h1{
    font-weight: bold;
    color: var(--primary-color);
}

#content table{
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.index-table tbody tr td{
    padding-right: 2vw;
}

#content h2 a{
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in-out;
}

#content h2 a:hover{
    color: #707070;
}

.index-image{
    width: 50%;
    height: auto;
    border-radius: 1vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: 1s ease-in-out;
}

.index-image:hover{
    transform: scale(1.03);
}

/*Ladedrucksteller*/
#ladedrucksteller-content{
    width: 70%;
    height: auto;
    margin-top: 7%;
    padding-left: 3rem;
}

#ladedrucksteller-content h1{
    font-weight: bold;
    color: var(--primary-color);
}

.picOne, .picTwo{
    width: 50%;
    height: auto;
    border-radius: 1vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 1vw;
}

#ladedrucksteller-content table {
    border-collapse: collapse;
    width: 100%;
}

#ladedrucksteller-content tbody td{
    padding-left: 2vw;
}

#ladedrucksteller-content th, td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}

/*Motoreninstandsetzung-Cards*/
.back ol{
    font-size: 15.5px;
    text-align: left;
}

.middle-Text a{
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.2s ease-in-out;
}

.middle-Text{
    padding-top: 20%;
}

.middle-Text a:hover{
    color: orange;
}

/*Zylinderköpfe*/
.image-container {
    display: flex;
}

.zylinderkopf-image{
    width: 40%;
    height: auto;
    border-radius: 1vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    float: right;
}

.image-container img {
    width: 25%;
    height: auto;
    margin-right: 5%;
    object-fit: cover;
    border-radius: 1vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.mail{
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color);
}

.mail:hover{
    text-decoration: none;
    color: orange;
}

.list-parts-numbers{
    border: 1px solid #e1e0e0;
    background-color: #a6a5a5;
    border-radius: 0.4vw;
    padding: 10px;
    transition: 0.5s ease-in-out;
}

.list-parts-numbers:hover{
    background-color: #bdbcbc;
}

.list-parts-numbers a{
    text-decoration: none;
    color: black;
}

/*Mopedauto*/
.mopedauto-table tbody tr td{
    padding-right: 15vw;
}

/*Motor-Generalüberholung*/
.engines{
    width: 20%;
    height: auto;
}

.image-container-engine {
    display: flex;
}

.image-container-engine .engines {
    width: 35%;
    height: auto;
    margin-right: 5%;
    object-fit: cover;
    border-radius: 1vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media screen and (max-width: 768px) {
    .links {
        display: none;
    }

    .icon-burger {
        cursor: pointer;
    }

    .line {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 4px;
        transition: transform 0.3s ease;
    }

    .icon-burger.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .icon-burger.active .line:nth-child(2) {
        opacity: 0;
    }

    .icon-burger.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .links.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px;
    }

    .links.active li {
        margin-bottom: 10px;
    }
}

.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
footer{
    margin-top: 18rem;
    background-color: #313131;
    padding-top: 2rem;
}
.footer-col-picture{
    width: 20%;
    padding-top: 20%;
    text-align: left;
}
.footer-col{
    width: 20%;
    padding: 0 15px;
    text-align: left;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: rgba(241,126,1,255);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: inline-block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    width: 50px;
    text-align: center;
    color: #ffffff;
    transition: all 0.5s ease;
}
#fbIcon:hover{
    background-color: rgba(10,122,234,255);
    transform: scale(1.2);
    border-radius: 50%;
}

.footer-col-picture .footer-picture ul li img{
    max-width: 100%;
    border-radius: 5%;
    height: auto;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    #content{
        margin-top: 6vw;
        margin-left: 1vw;
        margin-right: 1vw;
        margin-bottom: 1vw;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}

#cards {
    display: grid;
    grid-template-columns: repeat(2, 25.3rem);
    grid-row-gap: -1rem;
    color: #555;
    background: #222;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    font-family: 'Roboto Mono', sans-serif;
    z-index: 0;
    overflow: hidden;
    margin-top: 6rem;
    padding-top:2rem;
    padding-bottom:2rem;
    width: 100%;
}

#content{
    margin-top: 6vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
}

#cards h1 {
    font-size: 2.2em;
}

.flip {
    position: relative;
}

.flip > .front,
.flip > .back {
    display: block;
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    transition-duration: .5s;
    transition-property: transform, opacity;
    z-index: 0;
}

.back p a{
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.2s ease-in-out;
}

.back p a:hover{
    color: orange;
}

.flip > .front {
    transform: rotateY(0deg);
}

.flip > .back {
    position: absolute;
    opacity: 0;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
}

.flip:hover > .front {
    transform: rotateY(180deg);
}

.flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg);
}

.flip.flip-vertical > .back {
    transform: rotateX(-180deg);
}

.flip.flip-vertical:hover > .front {
    transform: rotateX(180deg);
}

.flip.flip-vertical:hover > .back {
    transform: rotateX(0deg);
}

.flip {
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 400px;
}

.flip > .front,
.flip > .back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 220px;
    padding: 1em 2em;
    background: #313131;
    border-radius: 10px;
    z-index: 0;
}

.flip > .front p {
    font-size: 0.9125rem;
    line-height: 160%;
    color: #999;
}

.text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

#fbIcon{
    font-size: 45px;
    transition: all 0.5s ease;
    border-radius: 50%;
}

#toTop {
    display: none;
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 150px;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: var(--primary-color);
    padding: 0.3rem 0.7rem;
    transition: ease-in-out 1s;
    animation: pulse 2.5s ease-out infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


@media screen and (max-width: 1024px) {
    #cards {
        margin-top: -3vw;
    }
}

@media screen and (max-width: 767px) {
    #cards {
        margin-top: 2vw;
    }
}
@media(max-width: 830px){
    #cards{
        margin-top: 4rem;
        grid-template-columns: 100%;
    }
}

#InstandsetzungCont{
    margin-top: 7rem;
    margin-left: 3rem;
    margin-right: 1rem;
    width: 50%;
    word-wrap: normal;
}

.dark-mode{
    background-color: #3d3c3c;
    color: white;
}

.dark-mode #content h2 a{
    color: white;
}

#darkmode{
    display: block;
    background: none;
    color: var(--white-color);
    border: none;
    font-size: 20px;
}


#locationCont{
    margin-top: 6rem;
    margin-left: 3rem;
}

#mapsLocation{
    border-radius: 20px;
}


#geschichteCont{
    margin-top: 7vw;
    width: 60%;
    word-break: normal;
}

.image img{
    width: 30%;
    height: auto;
    float: right;
    margin-top: 10vw;
    border-radius: 20px;
}

.image img:hover{
    transform: scale(1.03);
    transition: ease-in-out 1s;
}




