:root{
    --primary-color: rgba(241, 126, 1, 0.87);
    --secondary-color: #313131;
    --background-dark-color: #e1e0e0;
    --background-light-color: #f4f4f4;
    --background-light-color-2: rgba(3,127,255,255);
    --white-color: #ffffff;
}
body{
    background-color: #e1e0e0;
    font-family: 'Alegreya Sans', sans-serif;
    scroll-behavior: smooth;
}

html {
    position: relative;
    min-height:900px;
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: rgb(49, 49, 49);
}

#logo{
    width: 19vw;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
    border-radius: 12px;
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .links li {
    list-style: none;
}
nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

@keyframes underline {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

nav ul li {
    position: relative;
}

nav ul li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.5s ease-in-out;
}

nav ul li:hover::after {
    animation: underline 0.5s forwards;
}

nav ul li:not(:hover)::after {
    animation: underline-reverse 0.5s forwards;
}

@keyframes underline-reverse {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

#nav-toggle {
    position: absolute;
    top: -100px;
}
nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
    #logo{
        width: 65vw;
        margin-top: 1.4vw;
        margin-bottom: auto;
        border-radius: 7px;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.13);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }
    nav .links a {
        font-size: 20px;
    }
    nav :checked ~ .links {
        bottom: 0;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }
    #content{
        margin-top: 6vw;
        margin-left: 1vw;
        margin-right: 1vw;
        margin-bottom: 1vw;
    }
}

.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
footer{
    margin-top: 18rem;
    background-color: #313131;
    padding-top: 2rem;


}
.footer-col{
    width: 20%;
    padding: 0 15px;
    text-align: left;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: rgba(241,126,1,255);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: inline-block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    width: 50px;
    text-align: center;
    color: #ffffff;
    transition: all 0.5s ease;
}
#fbIcon:hover{
    background-color: rgba(10,122,234,255);
    transform: scale(1.2);
    border-radius: 50%;
}

.footer-col .footer-picture ul li img{
    max-width: 100%;
    border-radius: 5%;
    height: auto;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    #content{
        margin-top: 6vw;
        margin-left: 1vw;
        margin-right: 1vw;
        margin-bottom: 1vw;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}


#content{
    margin-top: 6vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
}



.text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

#fbIcon{
    font-size: 45px;
    transition: all 0.5s ease;
    border-radius: 50%;
}

#toTop {
    display: none;
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 150px;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: var(--primary-color);
    padding: 0.3rem 0.7rem;
    transition: ease-in-out 1s;
    animation: pulse 2.5s ease-out infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


@media screen and (max-width: 1024px) {
    #cards {
        margin-top: -3vw;
    }
}

@media screen and (max-width: 767px) {
    #cards {
        margin-top: 2vw;
    }
}

#text{
    margin-top: 6rem;
    width: 50%;
    word-wrap: normal;
}

#fehler-dropdown {
    border-radius: 5px;
}

#selectCont{
    display: flex;
    justify-content: center;
}

#fehler{
    padding-left: 5rem;
}

#fehler ul li{
    list-style-type: disc;
}


